.profile{
  z-index: 0;
  width:200px;
  height: 200px;
  padding-right: 200px;
  margin-right: 400px;
  position: absolute;
  top: 30%;
  // right: 9%;
  // bottom: 2;
  left: 45%;
  margin: auto;

  
}